{% include "recipes/partials/head.html" %}

<body>
    <header class="main-header-container">
        <div class="main-header container">
                <h1>
                    <a class="main-logo" href="/">
                        <i class="fa-solid fa-utensils main-logo-icon"></i>
                         <span class="main-logo-text">Central das Receitas</span>
                    </a>
                </h1>
        </div>
    </header>

    <div class="container">
        <h2>Sobre</h2>
        <p>Este é um exemplo básico de uma página HTML. Você pode adicionar mais conteúdo aqui conforme necessário.</p>
    </div>
    <footer>
        <p>&copy; 2024 Central de Receitas</p>
    </footer>
</body>
</html>
